a {
    text-decoration: overline;
}

a {
    color: orange;
}

a {
    text-decoration: none;
}

a:hover {
    color: gainsboro;
}

li {
    list-style: none;
}

.menu ul {
    display: flex;
    justify-content: center;
}

.menu ul li {
    margin-right: 10px;
}

.forma {
    display:flex;
}

.forma form {
    display:flex;
    flex-direction:column;
}

.magazines img {
    width:350px;
    height: 400px;
}

.logo img {
    width: 250px;
    height: 250px;
}



body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

